<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pub Hub</title>
  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Shadows+Into+Light" rel="stylesheet">

  <!-- VENDOR SCRIPTS -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="/scripts/app.js"></script>
</head>
<body>
  <div class="jumbotron" style="background-image: url(/images/conversation02.jpg); border: pink solid 2px">
    <div><h1 class="index-title"><b>Welcome to Pub Hub</b></h1>
    <h3>We're here to help you find the nearest outdoor space area near you!</h3>
  </div>
  </div>
  <div class="container description" style="border: red solid 2px">
    <p>Description</p>
  </div>
  <div class="container map-container" style="background-image: url(http://baycityguide.com/media/00PU000000FZF3IMAX/San-Francisco-Bay-Area-Map-518x301.jpg)">
    <p>Insert Map here</p>
  </div>

  <!-- BEG pubHub container-->
  <div class="container" style="border: orange solid 2px; margin-bottom: 2rem">
    <div id="pubs"></div>
  </div>
<!-- END pubHub container-->


<!-- BEGIN FORM SAMPLE -->
<div class="container-fluid pubHub-container" style="background-image: url('/images/conversation01.jpg')">
 <section id='pubHub-form' class="container">
   <form id="pubSubmit" class="form-horizontal">
     <fieldset class="pubHub-content">
       <!-- Form Name -->
       <legend><h3>Add a New Pub Hub</h3></legend>
       <!-- Text input-->
     <div class="form-group">
       <label class="col-md-4 control-label" for="nameHub">Name</label>
       <div class="col-md-4">
         <input type="text" name="nameHub"  placeholder="" class="form-control input-md" required="">
       </div>
     </div>
     <!-- Text input-->
     <div class="form-group">
       <label class="col-md-4 control-label" for="streetAddress">Street Address</label>
       <div class="col-md-4">
         <input name="streetAddress" type="text" class="form-control input-md">
       </div>
     </div>
     <!-- Text input-->
     <div class="form-group">
       <label class="col-md-4 control-label" for="gps">GPS Coordinates</label>
       <div class="col-md-4">
         <input class="form-control input-md" name="lat" placeholder="latituide-pubHub">
         <input class="form-control input-md" name="long" placeholder="Longitude-pubHub">
       </div>
     </div>
     <!-- Textarea -->
     <div class="form-group">
       <label class="col-md-4 control-label" for="crossStreet">Cross Street</label>
       <div class="col-md-4">
         <input class="form-control" name="crossStreet" placeholder="http://www.image_example.jpg">
       </div>
     </div>
     <!-- Textarea -->
     <div class="form-group">
       <label class="col-md-4 control-label" for="photo">Photo</label>
       <div class="col-md-4">
         <input class="form-control" name="photo" placeholder="http://www.image_example.com">
       </div>
     </div>
     <!-- Textarea -->
     <div class="form-group">
       <label class="col-md-4 control-label" for="notes">Notes</label>
       <div class="col-md-4">
         <textarea class="form-control" name="notes" maxlength="60"></textarea>
       </div>
     </div>
     <!-- Button -->
     <div class="form-group">
       <div class="col-md-4 control-label"></div>
       <div class="col-md-4">
         <button type="submit" class="btn btn-primary">Submit</button>
       </div>
     </div>
   </fieldset>
 </form>
</section>
</div>
<!--   END FORM SAMPLE -->

<div id="edit-pubHub-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Add a User</h4>
			</div>
			<form>
			<div class="modal-body">
				<div class="bold">
					Name
				</div>
				<div class="margin-top-20">
					<input name="nameHub" type="text" class="form-control" />
				</div>
				<div class="bold margin-top-20">
					Street Address
				</div>
				<div class="margin-top-20">
					<input name="streetAddress" type="text" class="form-control" />
				</div>
				<div class="bold margin-top-20">
					GPS Coordinates
				</div>
				<div class="margin-top-20">
					<input name="gpsCoords" type="text" class="form-control" />
				</div>
				<div class="bold margin-top-20">
					Cross Street
				</div>
				<div class="margin-top-20">
					<input name="crossStreet" type="text" class="form-control" />
				</div>
        <div class="bold margin-top-20">
					Photo
				</div>
				<div class="margin-top-20">
					<input name="photo" type="text" class="form-control" />
				</div>
        <div class="bold margin-top-20">
          Notes
        </div>
        <div class="margin-top-20">
          <input name="notes" type="text" class="form-control" />
        </div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

				<button type="submit" class="btn btn-primary">Save User</button>
			</div>
		</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>
</html>
