<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pub Hub Reviews</title>
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Shadows+Into+Light" rel="stylesheet">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container reviews-header">
      <h1><u>X's Reviews</u></h1>
      <h4>X's adress</h4>
    </div>

    <!-- BEGIN FORM SAMPLE -->
    <div class="container-fluid review-container">
      <section id="review-container" class="container">
        <form class="form-horizontal">
          <fieldset class="review-content">
            <!-- Form Name -->
            <legend><h3>Add a New Review</h3></legend>

            <!-- Text input-->
            <div class="form-group col-centered">
              <label class="col-sm-4 control-label" for="name-of-reviewer">Your Name</label>
              <div class="col-md-4">
                <input name="name-review" type="text" class="form-control input-md" required="">
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-sm-4 control-label" for="rating-review">Ratinng</label>
              <div class="col-sm-4">
                <input name="rating-review" type="text" placeholder="1 to 5 stars" class="form-control input-md" required="">
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-sm-4 control-label" for="notes-review">Notes</label>
              <div class="col-md-4">
                <textarea class="form-control input-md" name="notes-review" required="" maxlength="120"
                placeholder="Max length is 120 characters"></textarea>
              </div>
            </div>
            <!-- Textarea -->
            <!-- Button -->
            <div class="form-group">
              <div class="col-md-4 control-label"></div>
              <div class="col-md-4">
                <button id="reviewSubmit" type="submit-review" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
      </section>
    </div>
    <!--   END FORM SAMPLE -->

    <!-- BEG review container -->
    <div class="container">
      <!-- BEG review form -->
      <div id="review-form">
      <div class="row" style="margin-bottom: 15px;">
        <div class="col-sm-6">
          <h4><b>Name will go here</b></h4>
        </div>
        <div class="col-sm-6" style="text-align: right">
          <span><h4><b>Rating will go here ☆☆☆☆☆</b></h4></span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h4><b>Review:</b></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p>"Review will go here"</p>
      </div>
    </div>
  </div>
      <!-- END review form -->
    </div>
    <!-- END review container -->

  </body>
</html>
