<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pub Hub</title>
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Shadows+Into+Light" rel="stylesheet">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->

    <script src="/scripts/reviews.js"></script>
    <script src="/scripts/Reviews.js"></script>

  </head>
  <body>
    <div class="container reviews-header">
      <h1><u>X's Reviews</u></h1>
      <h4>X's adress</h4>
    </div>

    <!-- BEGIN FORM SAMPLE -->
    <div class="container review-container">
      <section class="col-sm-6" id="review-container" class="container">
        <form class="form-horizontal">
          <fieldset class="review-content">
            <!-- Form Name -->
            <legend><h3>Add a New Review</h3></legend>
            <!-- Text input-->
            <div class="form-group col-centered">
              <label class="col-sm-4 control-label" for="reviewerName">Your Name</label>
              <div class="col-md-4">
                <input name="reviewerName" type="text" class="form-control input-md" required="">
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-sm-4 control-label" for="reviewerRating">Ratinng</label>
              <div class="col-sm-4">
                <input name="reviewerRating" type="text" placeholder="1 to 5 stars" class="form-control input-md" required="">
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-sm-4 control-label" for="reviewerNotes">Notes</label>
              <div class="col-md-4">
                <textarea class="form-control input-md" name="reviewerNotes" required="" maxlength="120"
                placeholder="Max length is 120 characters"></textarea>
              </div>
            </div>
            <!-- Textarea -->
            <!-- Button -->
            <div class="form-group">
              <div class="col-md-4 control-label"></div>
              <div class="col-md-4">
                <button id="reviewSubmit" type="submit-review" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
      </section>
    </div>
    <!--   END FORM SAMPLE -->
    <div class="col-sm-6">
      <img url('../public/images/review01.jpg')>
    </div>

    <!-- BEG review container -->
    <div class="container">
      <!-- BEG review form -->
      <div id="review-form">

    </div>
  </div>
    <!-- END review container -->

  </body>
</html>
